#employer-dashboard-table {
    text-align: center;
    margin: 0 auto;
    font-size: 1.4em;
    width: 70vw;
}

#employer-dashboard-table th{
    border-bottom: 2px solid #808080;
}

#employer-dashboard-table tbody tr:hover {
background-color: #4EE6BF;
color: white;
border: 2px solid white;
}

#employer-dashboard-table tbody tr:nth-child(odd) {
    /* color: #4EE6BF; */
}

#employer-dashboard-table tbody td {
    border-bottom: 2px solid #808080;
}